* {
  border: 1px solid black;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(73, 73, 73);
}


#page-box {
  width: 70vw;
  height: 50vh;
  background-color: white;
}











